/* States */
.idle {
  animation: idle 3s infinite alternate;
}

.roaming {
  animation: roaming 10s infinite alternate;
}

.talking {
  animation: talking 5s infinite ease-in-out;
}

.happy {
  animation: happy 1.5s infinite alternate;
}

.excited {
  animation: idle 1s infinite alternate;
}

.vibing {
  animation: vibing 3s infinite alternate;
}

.running {
  animation: runningAnim 5s infinite alternate;
}

.no {
  animation: no 0.5s infinite alternate;
}

@keyframes idle {
  from {
    top: 25%;
  }

  to {
    top: 35%;
  }
}

@keyframes roaming {
  from {
    left: 0%;
    top: 15%;
  }

  to {
    left: 65%;
    top: 50%;
  }
}

@keyframes talking {
  from {
    top: 20%;
    left: 40%;
  }

  25% {
    top: 30%;
    left: 40%;
  }

  50% {
    top: 30%;
    left: 30%;
  }

  75% {
    top: 20%;
    left: 30%;
  }

  to {
    top: 20%;
    left: 40%;
  }
}

@keyframes happy {
  from {
    left: 40%;
    top: 20%;
  }

  20% {
    left: 20%;
    top: 25%;
  }

  40% {
    left: 30%;
    top: 25%;
  }

  60% {
    left: 40%;
    top: 30%;
  }

  80% {
    left: 20%;
    top: 20%;
  }

  to {
    left: 40%;
    top: 20%;
  }
}

@keyframes vibing {
  from {
    left: 5%;
    top: 10%;
  }

  10% {
    left: 5%;
    top: 40%;
  }

  20% {
    left: 5%;
    top: 10%;
  }

  30% {
    left: 5%;
    top: 40%;
  }

  40% {
    left: 5%;
    top: 10%;
  }

  60% {
    left: 60%;
    top: 40%;
  }

  70% {
    left: 60%;
    top: 10%;
  }

  80% {
    left: 60%;
    top: 40%;
  }

  90% {
    left: 60%;
    top: 10%;
  }

  to {
    left: 10%;
    top: 10%;
  }
}

@keyframes runningAnim {
  from {
    left: 0%;
    top: 35%;
  }

  20% {
    left: 35%;
    top: 5%;
  }

  25% {
    left: 85%;
    top: 10%;
  }

  50% {
    left: 48%;
    top: 30%;
  }

  80% {
    left: 15%;
    top: 80%;
  }

  to {
    left: 90%;
    top: 75%;
  }
}

@keyframes no {
  from {
    left: 10%;
  }

  to {
    left: 60%;
  }
}
