#musicCont {
  display: flex;
  justify-content: center;
}

#musicCont img:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

#content {
  display: flex;
  justify-content: space-between;
  height: 95vh;
}

.buttonSection {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  width: 25vw;
}

#assistantSection {
  position: relative;
  width: 45%;
}

#assistant {
  position: absolute;
  min-height: 80px;
  min-width: 80px;
  width: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

#assistantMessage {
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
  text-wrap: wrap;
  font-size: 1.6em;
}

#chatWindow {
  border: 2px solid black;
  box-shadow: -5px 3px 3px rgba(0, 0, 0, 0.151),
    -10px 5px 5px rgb(255, 202, 202);
  min-width: 100%;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  border-radius: 10px;
}

#userInput {
  border-radius: 10px;
  padding: 0.4em;
  border-width: 5px;
}

.message {
  max-width: 80%;
  width: fit-content;
  word-wrap: normal;
  padding: 0.5em;
  margin: 0.2em;
}

.lisaMessage {
  background-color: rgb(245, 186, 186) !important;
}

.userMessage {
  margin-left: auto;
  background-color: lightblue !important;
}

@media only screen and (max-width: 600px) {
  #assistantSection {
    position: absolute;
    height: 70vh;
    bottom: 0px;
    width: 100%;
  }

  #assistant {
    width: 200px;
    top: 10%;
    left: 25%;
  }

  #assistantMessage {
    bottom: 0px;
    font-size: 1.2em;
  }

  .buttonSection {
    height: 30%;
    width: 45%;
  }

  .buttonSection button {
    font-size: 1em !important;
  }

  #mobileAudio {
    display: inline-block;
  }
}
