#musicCont {
  display: flex;
  justify-content: center;
}

#musicCont img:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

#content {
  display: flex;
  justify-content: space-between;
  height: 85vh;
}

#assistantSection {
  position: relative;
  width: 70%;
}

#assistant {
  position: absolute;
  min-height: 80px;
  min-width: 80px;
  width: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

#assistantMessage {
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
  text-wrap: wrap;
  font-size: 1.6em;
}

.chatSection {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  width: 25vw;
}

#chatWindow {
  border: 2px solid black;
  box-shadow: -5px 3px 3px rgba(0, 0, 0, 0.151),
    -10px 5px 5px rgb(255, 202, 202);
  min-width: 100%;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  border-radius: 10px;
}

#userInput {
  border-radius: 10px;
  padding: 0.4em;
  border-width: 5px;
}

.message {
  max-width: 80%;
  width: fit-content;
  word-wrap: normal;
  padding: 0.5em;
  margin: 0.2em;
  animation: messageEntry 0.5s ease-in;
}

@keyframes messageEntry {
  from {
    opacity: 10%;
    transform: translateY(10px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.lisaMessage {
  background-color: rgb(245, 186, 186) !important;
}

.userMessage {
  margin-left: auto;
  background-color: lightblue !important;
}

#actionCont {
  display: flex;
  justify-content: space-around;
}

#actionCont > img {
  width: 60px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #actionCont {
    margin-top: 0.3em;
  }

  #actionCont > img {
    width: 40px;
  }

  #assistantSection {
    position: absolute;
    height: 40vh;
    bottom: 20px;
    width: 100%;
  }

  #assistant {
    width: 200px;
    top: 10%;
    left: 25%;
  }

  #assistantMessage {
    bottom: 0px;
    font-size: 1.2em;
  }

  .chatSection {
    margin: 1em 0.5em 1em 0.5em;
    height: 50%;
    width: 100%;
  }

  .chatSection > input {
    margin-top: 0.5em;
    height: 20%;
  }

  #mobileAudio {
    display: inline-block;
  }
}
